* {
    min-width: fit-content;
}

html {
    background-color: #222;
    color: #EEE;
}

body {
    min-height: 100vh;
    margin: 0;
    background: inherit;
}

.content {
    min-height: 75vh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
    color: inherit;
}

a {
    color: #0A0;
    text-decoration: none;
}

a:visited {
    color: #0A0;
}

a:hover {
    color: #0F0;
}

a:active {
    color: #C00;
}

.menu li a {
    display: block;
}

.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    text-align: center;
}

.menu li {
    display: block;
    float: left;
    width: 100px;
    min-height: 1.5em;
    background: #444;
    border: #666 solid 2px;
    border-radius: 14px;
    margin: 4px;
    padding-top: 4px;
}

.menu li:hover {
    background: #111;
}

p {
    text-align: justify;
}

pre {
    overflow-x: auto;
    background: #444;
    border: #000 solid 2px;
    border-radius: 14px;
    padding: 6px;
}

footer {
    margin-top: auto;
    margin-bottom: 0;
    padding: 32px;
    background-color: #000;
    border-top: solid #EEE 2px;
}
